* {
  box-sizing: border-box;
}

.content-wrapper {
  background-image: url("/assets/background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-wrapper .left-container {
  background-color: #611818;
  height: 100vh;
}
@media (max-width: 768px) {
  .content-wrapper .left-container {
    display: none;
  }
}

.header-box {
  left: 152px;
  bottom: 190px;
}
.header-box svg:hover {
  cursor: pointer;
}
.header-box svg:hover:active {
  transform: scale(0.5);
}
.header-box svg:hover:not(:active) {
  transform: scale(1);
}
@media (max-width: 768px) {
  .header-box {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.header-box .header-text-animated {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
.header-box h1 {
  font-family: "Merriweather", serif;
  color: #fcfcfc;
  font-size: 160px;
}
@media (max-width: 768px) {
  .header-box h1 {
    font-size: 100px;
  }
}
.header-box .header-details-box {
  margin-left: 45px;
}
.header-box .header-details-box span {
  color: #fcfcfc;
  font-size: 23px;
  vertical-align: middle;
  margin-left: 20px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  right: 15px;
}
@media (max-width: 768px) {
  .icons-container {
    display: block;
    top: 0;
    right: 0;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .icons-container .social-icons svg {
    width: 35px;
  }
}

.explore-box {
  left: 162px;
  bottom: 43px;
  background-color: #fff;
  width: 600px;
  padding: 43px;
}
@media (max-width: 768px) {
  .explore-box {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 700px;
  }
}
.explore-box h1 {
  font-family: "Merriweather", serif;
  color: #611818;
  font-size: 62px;
  font-weight: 800;
}
.explore-box hr {
  background: linear-gradient(to right, #611818, #fff);
  height: 3px;
  opacity: inherit;
}
.explore-box p {
  line-height: 30px;
}
.explore-box button {
  background: #611818;
  background: linear-gradient(98deg, #611818 17%, #ab6464 100%);
  color: #fcfcfc;
  padding: 9px 60px 9px 60px;
  font-size: 21px;
  border: solid 1px #8a8a8a;
  margin-bottom: 8px;
  margin-top: 28px;
}
.explore-box .close {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}
.explore-box .close:before, .explore-box .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #611818;
}
.explore-box .close:before {
  transform: rotate(45deg);
}
.explore-box .close:after {
  transform: rotate(-45deg);
}

.show-explore-box {
  animation-name: scale-in-bl;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  clip-path: polygon(4% 0, 96% 0, 100% 43%, 100% 58%, 96% 100%, 5% 100%, 0 57%, 0 40%);
}

.hide-explore-box {
  clip-path: polygon(4% 0, 96% 0, 100% 43%, 100% 58%, 96% 100%, 5% 100%, 0 57%, 0 40%);
  animation-name: scale-out-bl;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@media (max-width: 768px) {
  .hide-explore-box {
    animation-name: scale-out-bottom;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
}

@keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-out-bl {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-bl {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
