$main-color: #611818;
$text-color: #fcfcfc;
$headers-font: 'Merriweather', serif;
$width: 768px;
$height: 100vh;

@mixin mobile {
    @media (max-width: $width) {
        @content
    }
}

* {
    box-sizing: border-box;
}

// MAIN BACKGROUND
.content-wrapper {
    background-image: url('/assets/background.png');
    height: $height;
    background-repeat: no-repeat;
    background-size: cover;

    .left-container {
        background-color: $main-color;
        height: $height;
        
        @include mobile {
            display: none;
        }
    }
}

// HEADER TITLE AND BUTTON
.header-box {
    left: 162px;
    bottom: 190px;

    & svg:hover {
        cursor: pointer;
        
        &:active {
            transform: scale(.5);

        }
        &:not(:active) {
            transform: scale(1);
        }
    }

    @include mobile{
        left:50%;
        top:50%; 
        transform: translate(-50%, -50%); 
    }

    .header-text-animated {
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;
            
    }
    
    h1 {
        font-family: $headers-font;
        color: $text-color;
        font-size: 170px;

        @include mobile {
            font-size: 100px;
        }
    }
    .header-details-box {
        margin-left: 45px;

        span {
            color: $text-color;
            font-size: 23px;
            vertical-align: middle;
            margin-left: 20px;
        }
    }
}

// SOCIAL ICONS
.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 30px;
    right: 15px;

    @include mobile{
        display: block;
        top: 0;
        right: 0;
        height: 35px;
    }

    .social-icons {
        @include mobile{
            svg {
                width: 35px;
            }
        }
    }
}

// EXPLORE DETAILS 

.explore-box {
    left: 162px;
    bottom: 43px;
    background-color: #fff;
    width: 600px;
    padding: 43px;

    @include mobile{
        left:50%;
        top:50%; 
        transform: translate(-50%, -50%); 
        width: 500px;
        min-height: 700px;
    }
    
    h1 {
        font-family: $headers-font;
        color: $main-color;
        font-size: 62px;
        font-weight: 800;
    }

    hr {
        background: linear-gradient(to right, $main-color, #fff);
        height: 3px;
        opacity: inherit;
    }

    p {
        line-height: 30px;
    }

    button {
        background: rgb(97,24,24);
        background: linear-gradient(98deg, rgba(97,24,24,1) 17%, rgba(171,100,100,1) 100%);
        color: $text-color;
        padding: 9px 60px 9px 60px;
        font-size: 21px;
        border: solid 1px rgb(138, 138, 138);
        margin-bottom: 8px;
        margin-top: 28px;
    }

    .close {
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: $main-color;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }
}

// EXPLORE DETAILS ANIMATION
.show-explore-box {
    animation-name: scale-in-bl;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    clip-path: polygon(4% 0, 96% 0, 100% 43%, 100% 58%, 96% 100%, 5% 100%, 0 57%, 0 40%);
}

.hide-explore-box {
    clip-path: polygon(4% 0, 96% 0, 100% 43%, 100% 58%, 96% 100%, 5% 100%, 0 57%, 0 40%);
    animation-name: scale-out-bl;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    @include mobile{
        animation-name: scale-out-bottom;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
    }
}

// ANIMATION FRAMES

@keyframes scale-in-bl {
    0%{
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scale-out-bl {
    0%{
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
}

@keyframes scale-out-bl {
    0%{
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      opacity: 1;
    }
}

@keyframes scale-out-bottom {
    0%{
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 1;
    }
    100%{
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      opacity: 1;
    }
}
  
  
  

